/* AdminLogin.css */
.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  .admin-login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  
  .admin-login-box h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 24px;
  }
  
  .forms-groups {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .forms-groups label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .forms-inputs {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 87%;
    margin-top: 1rem;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  .user-dashboard {
    padding: 20px;
  }
  
  .user-dashboard-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .user-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .summary-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
  }
  
  .transactions-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transactions-table th,
  .transactions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .user-portal-button {
    margin-top: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 90%;
  }
  
  .user-portal-button:hover {
    background-color: #d32f2f;
  }
  input[type="text"],
input[type="tel"] {
  width: 10%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.Admin input{
  width:100% !important;
}